@import "../styles/modules/breakpoints";
@import "../styles/modules/grid";
.row {
  @extend .row;
}

.headerMainSection {
  margin-bottom: 30px;
  @media (max-width: $xxs) {
    margin-bottom: 0;
  }
  align-items: center;
}

.leftColumn {
  @media (max-width: $xs) {
    * {
      font-size: 9px !important;
    }
    margin-bottom: 15px;
  }
  .infoSection {
    @media (max-width: $xs) {
      position: relative;
      top: 5px;
    }
  }
}


