
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 2em;
}

.footerBtn {
  margin-left: auto;
}

.form {
  margin-bottom: 1em;
}
