@import "../styles/modules/typography";

$widget-vertical-space: 30px;

.OasisWidgetFrame {
  position: relative;
  display: inline-block;
  opacity: 0.89;
  background: white;
  border: 1px solid #EFF1F3;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  width: 442px;
  min-height: 305px;
  margin: 0 16px 36px 16px; // 0 17px 35px 17px
  padding: 20px 0 0; //30px 0 10px 30px

  .Heading {
    @include heading;
    margin-left: $widget-vertical-space;
    margin-right: $widget-vertical-space;
    margin-bottom: 18px;
  }
}

.OasisWidgetContent {
  padding: 0 $widget-vertical-space;
}

.WidgetFloatRightButton {
  float: right;
  position: relative;
  top: -1px;
}

.OasisWidgetFooter {
  position: absolute;
  bottom: 30px;
  left: $widget-vertical-space;
  right: $widget-vertical-space;
}