@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

.OasisFooter {
  margin-top: 16px;
  padding: 40px 80px;
  justify-content: space-evenly;
  @media(max-width: $xxs) {
    padding: 0;
    justify-content: space-around;
  }
}

.MistBrowser {
  justify-content: space-around;
}
.LinksSection {
  display: flex;
  flex-direction: column;

  & .Heading {
    margin: 16px 0;

    @include text(13px, 400);
    text-transform: uppercase;
    color: #4A4A4A;
  }

  & .Link {
    margin: 16px 0;

    @include text(12px, 700);
    color: #546979;
    cursor: pointer;

    @media(max-width: $xxs) {
      margin: 10px 0;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}