@import "./OasisTokenBalance";
//.available-amount {
//  font-family: Roboto, sans-serif;
//  font-size: 19px;
//  text-align: right;
//  display: inline-block;
//  padding-right: 10px;
//  width: 230px
//}
//
//.available-currency {
//  font-size: 10px;
//  font-weight: 700;
//  letter-spacing: 1px;
//  text-align: left;
//  padding-left: 13px;
//  display: inline-block;
//  width: 60px
//}
//
//
//.loading {
//  float:right;
//}