@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

.base {
  @include text();
  @media  (max-width: $xxxs){
    @include text(9px);
  }
}

.infoText {
  padding: 7px 0;
  color: #949396;
  :global(b), :global(strong) {
    color: #68676B;
  }
}

%status {
  display: flex;
  alignContent: space-between;
}

.status {
  @extend %status;
}

.statusDanger {
  @extend %status;
  color: $danger-text;
}
