
.detailsTradingFirstCol {
  flex-basis: 55%;
}

.detailsTradingSecCol {
  flex-basis: 45%;
}


.estimateUSD {
  background-color: #F9F8F8;
  border-radius: 6px;
  border: 1px solid #EFEFEF;
  color: #939194;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 92px;
}