@import "./../styles/modules/breakpoints";

.summary {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 15px;
  color: #818181;
  @media (max-width: $xxs) {
    font-size: 14px;
    margin-bottom: 17px;
  }
  @media (max-width: $xxxs) {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.summaryLabel {
  position: relative;
  top: 4px;
  @media (max-width: $xxs) {
    font-size: 14px;
  }
  @media (max-width: $xxxs) {
    font-size: 12px;
  }
}
