.available {
  display: inline-block;
  float: right;
}

.available-amount {
  font-family: Roboto, sans-serif;
  font-size: 19px;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}

.available-currency {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 13px;
  display: inline-block;
}


.loading {
  float:right;
}