@import "../styles/modules/typography";

.available {
  display: inline-block;
  float: right;
}

.available-amount {
  @include mainInput;
  display: inline-block;
}

.available-currency {
  @include currency;
  display: inline-block;
}


.loading {
  float:right;
}