@import "./../styles/modules/breakpoints";

.accordionHeading {
  min-height: 34px;
  flex-grow: 1;
}

.accordingText {
  margin-left: 16px;
}

.smallAccordion {
  padding-top: 13px;
  padding-bottom: 13px;
}
.infoText {
  @media (max-width: $xxs) {
    max-width: 100px;
  }
}