@import "./../styles/modules/breakpoints";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 2em;
}

.transferTable {
  margin-bottom: 1em;

  th,
  .thHeader {
    width: 100px;
  }

  .thCurrency {
    width: 70px;
  }
  // this head is only to make sure the columns are the right wide
  thead {
    td {
      padding: 0;
      border: 0;
    }
  }
}

.tdWithErrorMessages {
  overflow: visible;
  position: relative;
}

.validationErrorsBox {
  display: flex;
  width: 100%;
  height: 34px;
}

.transferMaxButton {
  * {
    font-size: 10px !important;
    @media (max-width: $xxs) {
      font-size: 9px;
    }
  }
}
