@import "../styles/modules/verticalForm";
@import "../styles/modules/typography";

.table {
  @include verticalFormTable;
  margin-bottom: 2em;
}

.withInput {
  @include tdWithInput;
}

.formGroup {
  display: flex;
}

.setMaxBtn {
  margin: 6px;
}


.currency {
  @include currency;
  width: 50px;
}


.footer {
  float: right;
  margin-top: 28px;
}