
.footer {
  display: flex;
  justify-content: flex-end;
}

.transferTable {
  th,
  .thHeader {
    width: 100px;
  }

  .thCurrency {
    width: 70px;
  }
  // this head is only to make sure the columns are the right wide
  thead {
    td {
      padding: 0;
      border: 0;
    }

  }
}

.tdWithErrorMessages {
  overflow: visible;
  position: relative;
}

.validationErrorsBox {
  display: flex;
  width: 100%;
  height: 34px;
}