$tabs-width: 496px;

$tabs-background--on-hover: #E8E9ED;
$lightgray: #DCDDE0;
$gray: rgb(163, 165, 171);
$blue-darkish: #222228;
$gray-blueish: #4F5362;

$success: #19B092;
$success-text: #26A69A;

$danger: #EF5350;
$danger-text: #EF5350;

$warn: #FD9696;
$warn-text: #F18482;

$table-border: #EFEFEF;
$table-header-bg:  #F8F7F5;

$btn-border-default: #C9C9C9;
$btn-text-default: #68686B;

$table-padding-vertical: 5px;
$table-padding-horizontal: 11px;