.modal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;

  background: #FCFBFB;
  overflow: auto;
  margin: 30px auto;
  position: relative;

  outline: 0;
  border: 1px solid #E5E9EB;
  border-radius: 4px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.13);

  max-width: 549px;
  padding: 30px 30px 20px 30px;
  width: 490px;
}

.closeModalBtn {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 0 6px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  background: transparent;
  color: #000;

  border: 0;
  text-shadow: 0 1px 0 #fff;

  filter: alpha(opacity=20);
  opacity: .2;
  -webkit-appearance: none;
  cursor: pointer;
}