@mixin circle($diameter) {
  display: inline-flex;
  width: $diameter;
  height: $diameter;

  line-height: 1;

  border: 1px solid transparent;
  border-radius: 50%;

  @include text(8px);

  justify-content: center;
  align-items: center;
}

.Cross {
  opacity: 0.2;

  &:hover {
    opacity: 0.3;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
