@import "./constants";

@mixin text($size: 12px, $weight: 500) {
  font-family: "Montserrat", sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin heading {
  @include text(24px, 400);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@mixin muted($size: 12px) {
  font-weight: 500;
  color: #b1b1b3;
  font-size: $size;
  line-height: $size*1.7;
}

@mixin buyLabel() {
  text-transform: uppercase;
  color: $success-text;
}

@mixin sellLabel() {
  text-transform: uppercase;
  color: $danger-text;
}


// input and amount data
@mixin mainInput {
  background: none;
  border: none;
  color: #68686C;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 500;
  padding-right: 10px;
  text-align: right;
}

@mixin currency {
  box-sizing: border-box;
  color: #68686c;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: $table-padding-vertical $table-padding-horizontal;
  text-align: left;
  text-transform: uppercase;
  width: 70px;
  vertical-align: middle;
}

@mixin ellipsis($max-width: auto) {
  max-width: $max-width;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textDanger {
  color: $danger-text;
}

.spaceLeft {
  margin-left: 0.35em;
}

.spaceRight {
  margin-right: 0.35em;
}

.spaceBoth {
  @extend .spaceLeft;
  @extend .spaceRight;
}
