@import "./constants";

@mixin text($size: 12px, $weight: 500) {
  font-family: 'Montserrat', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin heading {
  @include text(24px, 400);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@mixin muted($size: 12px) {
  font-weight: 500;
  color: #B1B1B3;
  font-size: $size;
  line-height: $size*1.7;
}

@mixin buyLabel() {
  text-transform: uppercase;
  color: $success-text;
}

@mixin sellLabel() {
  text-transform: uppercase;
  color: $danger-text;
}

@mixin currency {
  font-weight: 700;
  font-size: 10px;
  color: #68686C;
  letter-spacing: 1px;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  width: 70px;
}

@mixin ellipsis($max-width: auto) {
  max-width: $max-width;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}


.textDanger {
  color: $danger-text;
}

.spaceLeft {
  margin-left: 0.35em;
}

.spaceRight {
  margin-right: 0.35em;
}

.spaceBoth {
  @extend .spaceLeft;
  @extend .spaceRight;
}