{
 "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-debugger": "warn"
 },
 "env": {
    "browser": true,
    "node": true
 },
  "globals": {
    "Promise": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
      }
  }
}