@import "../styles/modules/breakpoints";
@import "../styles/modules/constants";

.box {
  border: 1px solid;
  border-radius: 8px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
}

.sm {
  padding: 7px 16px;
  font-size: 13px;
  @media (max-width: $xxxs) {
    font-size: 11px !important;
  }

}

.md {
  padding: 16px;
  font-size: 13px;
}

.noBorder {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.fullWidth {
  width: 100%;
}


.default {
  border-color: #E5E9EB;
  color: #939194;
}

// very pale, for non important info
.muted {
  border-color: #E5E9EB;
  color: #d4d4d4;
}

.danger {
  border-color: $danger-text;
  color: $danger-text;
}

.success {
  border-color: $success-text;
  color: $success-text;
}