@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";
@import "../styles/modules/constants";

//TODO: (georgi) Clean up this and NoConnection.scss

.LockedAccountSection {
  * {
    max-width: 100% !important;
  }
  @media (max-width: $xs) {
    max-width: 100% !important;
  }
  text-align: center;
  color: $blue-darkish;

  & .Logo {
    width: 264px;
    padding-bottom: 30px;
  }

  & .Separator {
    color: $lightgray;
    border: 0;
    border-top: solid 1px $lightgray;
  }

  & .Heading {
    text-transform: uppercase;
    @include text(24px, 700);
    opacity: 0.8;
    color: $blue-darkish;
    letter-spacing: 4px;
  }

  & .Message{
    @include text(25px);
    opacity: 0.50;
    width: 925px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 0.6px;
    @media (max-width: $lg) {
      @include text(16px);
    }
  }
}
