@import "./../styles/style";

.NoEthereumSection {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #222228;
  font-size: 25px;

  h2 {
    @extend .montserrat-semibold;
    opacity: 0.8;
    color: #222228;
  }

  .ImgHeaderLogo {
    width: 264px;
    padding-bottom: 30px;
  }

  .ImgEthereumLogo {
    width: 61px;
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .HorizontalLine {
    color: #DCDDE0;
    border: 0px;
    border-top: solid 1px #DCDDE0;
  }

  .PNotFound {
    opacity: 0.50;
    width: 925px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 0.6px;
  }

  .PUseClients {
    display: inline-block;
    color: #546979;
    @extend .montserrat-semibold;
  }

  .PConnectGeth {
    opacity: 1;
    width: 925px;
    color: #4F5362;
    display: inline-block;
    letter-spacing: 0.6px;
  }

  .DivClients {
    height: 360px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    color: #4F5362;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .DivMetamask,
  .DivMist {
    background-color: #FFFFFF;
    width: 340px;
    height: 360px;
    padding: 33px 10px 33px 27px;
    opacity: 0.89;
    border: 2px solid #EFF1F3;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    margin: 0 20px;

    h2 {
      margin-bottom: 45px;
    }

    p {
      display: table;
      text-align: left;
      margin-bottom: 20px;
    }

    .ImgLogo {
      width: 85px;
    }

    .SpanMontserratSemiBold {
      @extend .montserrat-semibold;
      font-size: 21px;
      color: #4F5362;
    }

    .NumberCircle {
      display: inline-block;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      line-height: 28px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      text-align: center;
      border: solid 1px #CFD8DC;
      font-size: 18px;
      color: #222228;
      opacity: 0.68;
    }

    .AlignNumber {
      display: table-cell;
      vertical-align: middle;
      padding-right: 20px;
    }

    .ALink {
      color: #337ab7;
    }
  }
}