@import "../styles/modules/breakpoints";
@import "../styles/modules/constants";

.selectContainer {
  border: 1px solid $btn-border-default;
  background-color: transparent;
  display: inline-block;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: $btn-text-default;
  border: none;
  z-index: 1;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: normal;

  &:hover {
    cursor: pointer;
  }
  &:hover[disabled] {
    cursor: default;
  }
}

.selectGlyph {
  color: #aaaebb;
  z-index: -1;
}

// -------------- size -----------------


.md {
  border-radius: 4px;
  font-size: 10px;
  padding: 0 8px 0 2px;

  .select {
    margin-right: -20px;
    padding: 8px 30px 8px 10px;
    font-size: 12px;
    @media (max-width: $xxxs) {
      padding: 5px 20px 5px 10px;
      font-size: 10px;
    }
  }
}

