@import "../styles/modules/typography";

$hover-border-color: #DCDDE0;

thead {
  @include text(10px, 700);

  line-height: 2;
  text-transform: uppercase;

  opacity: 0.68;
  color: #222228;
  background-color: #F8F7F5;
}


tbody {
  font-family: 'Roboto', sans-serif;
}

tr.clickable {
  cursor: pointer;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
}

tr.clickable:hover {
  border-bottom: 1px $hover-border-color solid;
  border-top: 1px $hover-border-color solid;
  background: rgba(248, 247, 245, 0.15);
}

tr.active {
  background: rgba(248, 247, 245, 0.5);
  border-top: 1px #E8E9EA solid;
  border-bottom: 1px #E8E9EA solid;
  cursor: pointer
}

td, th {
  padding: 5px 15px;
  flex-basis: 100%;
}


table.scrolling {

  tbody > tr,
  thead > tr {
    display: flex;
    > th,
    > td {
      max-width: 100%;
      display: block;
    }
  }

  tbody {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    margin-top: 10px;
    height: 155px;

  }
}

tr.collapseRow {
  border-bottom: 1px $hover-border-color solid;
  border-top: 1px $hover-border-color solid;
  margin-bottom: 1px;

  & > .collapseCell:first-child:last-child {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #666669;
    text-transform: uppercase;
    padding: 5px 15px;
  }
}