@import "../styles/modules/typography";

.OasisAccount {
  @include text(13px);
  text-align: right;

  margin-bottom: 10px;
}

.AccountSelection {
  display: inline-block;

  width: 330px;
  border: 1px solid #D3D5DC;
  border-radius: 100px;

  margin-left: 25px;
  padding: 0 16px 0 10px;

  font-size: 10px;

  & select {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    color: rgba(34,34,40, 0.68 );
    border: none;
    margin-right: -18px;
    padding: 13px 33px 13px 17px;
    z-index: 0;
    position: relative;
    cursor: pointer;
    @include text(10px);

    & option {
      @include text(10px, 400);
    }
  }

  & .glyphicon {
    color: #D3D5DC;
  }

}