@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

$hover-border-color: #DCDDE0;
$tbody-height: 160px;
$td-space: 5px 11px; // margin/padding

thead {
  @include text(10px, 700);

  line-height: 2;
  text-transform: uppercase;
  opacity: 0.68;
  color: #222228;
  background-color: #F8F7F5;
}

th, td {
  @media (max-width: $xxs) {
    font-size: 10px !important;
    margin-left: 4px;
    margin-right: 4px;
    padding: 5px 6px;
  }
  @media (max-width: $xxxs) {
    font-size: 9px;
  }
}

tbody {
  font-family: 'Roboto', sans-serif;
}

tr.clickable {
  cursor: pointer;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
}

tr.clickable:hover {
  border-bottom: 1px $hover-border-color solid;
  border-top: 1px $hover-border-color solid;
  background: rgba(248, 247, 245, 0.15);
}

tr.active {
  background: rgba(248, 247, 245, 0.5);
  border-top: 1px #E8E9EA solid;
  border-bottom: 1px #E8E9EA solid;
  cursor: pointer
}


td, th {
  padding: $td-space;
  margin: 0;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: content-box;
}


table.scrolling {

  tr {
    display: flex;
  }

  th,
  td {
    max-width: 100%;
    display: block;
    padding: 0;
    margin: $td-space;
    @media (max-width: $xxs) {
      font-size: 10px !important;
      margin-left: 8px !important;
      margin-right: 8px !important;
      line-height: 26px;
      vertical-align: middle;
      margin-bottom: 0;
      margin-top: 2px;
    }
    @media (max-width: $xxxs) {
      font-size: 9px;
    }
  }

  tbody {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    margin-top: 10px;
    height: $tbody-height;
    width: 98%;
    @media (max-width: $xxs) {
      width: 100%;
    }
  }
}

@mixin singleColumnRow {
  &:first-child:last-child {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    font-weight: 500;
  }
}

tr.collapseRow {
  border-bottom: 1px $hover-border-color solid;
  border-top: 1px $hover-border-color solid;
  margin-bottom: 1px;

  & > .collapseCell {
    @include singleColumnRow;
    font-size: 12px;
    color: #666669;
    text-transform: uppercase;
    //padding: 5px 15px;
  }
}

.scrolling tr.emptyFallback {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > td {
    @include singleColumnRow;
  }
}

.isInitializing {
  cursor: not-allowed !important;
}

.dateHeading {
  @media (max-width: $xxs) {
    flex-basis: 60px !important;
  }
}

.dateCell {
  @media (max-width: $xxs) {
    flex-basis: 60px !important;
    position: relative !important;
    top: 3px !important;
  }
}
.dateHeadingTwoRows {
  @media (max-width: $xxs) {
    flex-basis: 35px !important;
  }
}

.twoRows {
  @media (max-width: $xxs) {
    position: relative !important;
    bottom: 4px !important;
    text-align: center !important;
    line-height: 14px !important;
    flex-basis: 35px !important;
  }
}