.base {
  opacity: 0.89;
  background: #FFFFFF;
  border: 1px solid #EFF1F3;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  width: 442px;
  min-height: 305px;
  margin: 0px 17px 35px 17px;
  padding: 20px 0px 20px 30px;
  overflow: hidden;
}

.OasisCardContent {

}