@import "./../styles/modules/breakpoints";
.marketTable {
  th:first-child,
  td:first-child {
    flex-basis: 148px;
    text-align: center;
    @media (max-width: $xxs){
      flex-basis: 100px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 28% !important;
    }
  }

  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 70px;
    text-align: right;
    @media (max-width: $xxs){
      flex-basis: 60px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 23% !important;
    }
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 123px;
    text-align: right;
    @media (max-width: $xxs){
      flex-basis: 100px;
    }
    @media (max-width: $xxxs) {
      line-height: 16px;
      margin: 3px 0;
      flex-basis: 29% !important;
    }
  }

}

.pair {
  font-weight: 600;
  display: flex;
  span {
    width: 50%;
  }
  span:first-child {
    text-align: right;
    margin-right: 5px;
  }
  span:last-child {
    text-align: left;
    margin-left: 5px;
    color: rgba(74, 74, 74, 0.6);
  }
}

.createDaiBtn {
  float: right;
  @media (max-width: $xxxs) {
    position: relative;
    bottom: 6px;
    font-size: 12px;
  }
  margin-top: -1px;
}