@import "../styles/modules/constants";

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 1px solid transparent;

  background-color: transparent;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: normal;

  &:hover {
    cursor: pointer;
  }
  &:hover[disabled],
  &:hover.disabled {
    cursor: default;
  }
}

// -------------- size -----------------
.xs__smaller_text {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px
}
.xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.md {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px

}

.lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px
}


.max {
  padding: 6px 12px;
  font-size: 13.5px;
  letter-spacing: 1.57px;
  border-radius: 100px;
}
// --------------- color -----------

@mixin button($map) {

  color: map-get($map, color);
  border-color: map-get($map, border-color);
  background-color: transparent;

  &:hover:enabled:not(.disabled),
  &:focus:enabled:not(.disabled),
  &:active:enabled:not(.disabled) {
    color: map-get($map, color-hover);
    background-color: map-get($map, border-color-hover);
    border-color: map-get($map, bg-hover);
  }

  &[disabled]:hover,
  &[disabled],
  &.disabled:hover,
  &.disabled {
    opacity: 0.5;
  }
}


.default {
  @include button((
     color: #4F5362,
      border-color: #A8ACB9,
      color-hover: white,
      border-color-hover: #838690,
      bg-hover: #A8ACB9
  ));
}

.success {
  @include button((
          color: $success-text,
          border-color: $success-text,
          color-hover: white,
          border-color-hover: $success,
          bg-hover: lighten($success-text, 12%)
  ));
}


.danger {
  @include button((
          color: $danger-text,
          border-color: $danger-text,
          color-hover: white,
          border-color-hover: $danger,
          bg-hover: lighten($danger-text, 12%)
  ));
}