
.table {


  th:first-child,
  td:first-child {
    flex-basis: 100px;
    text-align: right;
  }

  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 150px;
    text-align: right;
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 150px;
    text-align: right;
  }

}
