@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

.table {
  th:first-child,
  td:first-child {
    flex-basis: 78px;
    text-align: right;
  }

  td:first-child {
    @include muted;
  }

  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 78px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 50px;
    }
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 78px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 40px;
    }
  }

  th:nth-child(4),
  td:nth-child(4) {
    flex-basis: 78px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 60px;
    }
  }

}
