@import "../styles/modules/typography";
@import "OasisMarketHistory";

.select {
  float: right;
  position: relative;
  top: -1px;
}

.tradesHistory {
  @extend .table;
}

.openOffers {
  td,
  th {
    text-align: right;
  }

  td {
    font-weight: 500;
  }

  th:first-child,
  td:first-child {
    flex-basis: 58px;
    text-align: center;
    @media (max-width: $xxs) {
      flex-basis: 50px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 10% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 68px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 60px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 17% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 60px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 40px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 13% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(4),
  td:nth-child(4) {
    flex-basis: 60px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 40px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 13% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(5),
  td:nth-child(5) {
    flex-basis: 68px;
    text-align: right;
    @media (max-width: $xxs) {
      button {
        font-size: 9px !important;
        padding-bottom: 4px;
        padding-top: 4px;
      }
      flex-basis: 50px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 15% !important;
      button {
        font-size: 7px !important;
      }
    }
  }
  @media (min-width: $xs) and (max-width: $lg) {
    flex-basis: 16%;
  }
}

.info {
  padding: 0 30px;
  @include muted();
}

.cancelButton.cancelButton {
  font-weight: 400;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 10px;
  @media (max-width: $xxxs) {
    font-size: 9px;
  }
}
