@import '../styles/modules/constants';
@import '../styles/modules/grid';
@import '../styles/modules/labels';

.row-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;


  &:before , &:after{
    content: '';
    width: calc((100% - #{$tabs-width}) / 2);
    border-top:0.5px solid $gray;
    border-bottom:0.5px solid $gray;
  }
}

.Tabs {
  display: flex;

  width: $tabs-width;

  border: 1px solid $gray;
  border-radius: 100px;

  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  overflow: hidden;

  & .Tab {
    flex-basis: 100%;
    height: 40px;
    border-right: 1px solid $gray;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &--2x {
      flex-basis: 200%;
    }

    &:hover {
      background: $tabs-background--on-hover;
      cursor: pointer;

      & a {
        color: $gray-blueish;
      }
    }

    &:last-child {
      border-right: 0;
    }

    & a {
      color: $gray;
      text-decoration: none;
      @include text();
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $gray-blueish;
      }

    }

  }
}