.pairs {
  //background: red;
}

.marketTable {

  th:last-child {
    padding-right: 30px;
  }

  th:first-child,
  td:first-child {
    width: 160px;
    text-align: center;
  }

  .pair {
    font-weight: 600;
    display: flex;
    span {
      width: 50%;
    }
    span:first-child {
      text-align: right;
      margin-right: 5px;
    }
    span:last-child {
      text-align: left;
      margin-left: 5px;
      color: rgba(74, 74, 74, 0.6);
    }
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 100px;
    text-align: right;
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-grow: 1;
    text-align: right;
  }

}