@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

table.table {
  max-width: 100%;
  td, th {
    text-align: right;
    margin-left: 8px;
    margin-right: 8px;
    @media (max-width: $xs) {
      margin-left: 6px;
      margin-right: 6px;
    }
    @media (max-width: $xxxs) {
      margin: 0;
      flex-basis: 14% !important;
    }
  }

  td {
    font-weight: 500;
  }


  th:first-child,
  td:first-child {
    flex-basis: 72px;
    @media (max-width: $xs) {
      flex-basis: 65px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 14% !important;
    }
    text-align: center;

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 100px;
    }
  }

  td:first-child {
    @include muted;
    @media (max-width: $xxxs) {
      line-height: 14px;
      margin: 2px 0;
    }
  }


  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 34px;
    text-align: center;
    @media (max-width: $xxs) {
      flex-basis: 24px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 14% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 50px;
    }

  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 82px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 60px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 14% !important;
    }

    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(4),
  td:nth-child(4) {
    flex-basis: 82px;
    text-align: right;
    @media (max-width: $xxs) {
      flex-basis: 40px;
    }
    @media (max-width: $xxxs) {
      flex-basis: 14% !important;
    }
    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }

  th:nth-child(5),
  td:nth-child(5) {
    flex-basis: 50px;
    text-align: right;
    @media (max-width: $xxxs) {
      flex-basis: 14% !important;
    }
    @media (min-width: $xs) and (max-width: $lg) {
      flex-basis: 16%;
    }
  }


}
