@import "../styles/modules/breakpoints";
@import "../styles/modules/typography";

.OasisMarket {
  @include text(13px);
  text-align: right;
  & .OasisMarketAddress {
    @media (min-width: $xs) and (max-width: $lg) {
      width: 80%;
    }
    border: 1px solid rgba(211, 213, 220, 0.68);
    border-radius: 100px;
    font-size: 10px;
    background-color: transparent;
    margin-left: 25px;
    display: inline-flex;
    padding: 0 17px 0 10px;
    width: 330px;
    @media (max-width: $xxs) {
      margin-left: 0;
      align-content: flex-start;
      width: 100%;
      padding-right: 0;
    }

    & * {
      color: #d0d0d0;
      transform: translateX(-10px);
      padding: 13px 17px;
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      @media (max-width: $xxs) {
        @include text(9px);
      }
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & a {
      padding-left: 36px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: $xxs) {
        padding-left: 76px;
        letter-spacing: 0.25px;
      }
    }

    @media (min-width: $xs) and (max-width: $lg) {
      @include text(13px);
      letter-spacing: 0.6px;
    }
  }
  & > .label {
    @media (max-width: $xxs) {
      position: absolute;
      top: 9px;
      letter-spacing: 1.3px;
      left: 30px;
    }
  }
}
