@import "../styles/modules/breakpoints";
@import "../styles/modules/constants";

.base {
  @media (max-width: $xxs) {
    width: 100%;
    border-bottom: 1px solid #F8F7F5;
    margin-bottom: 6px;
  }
}

.icon {
  margin-right: 1em;
  margin-top: -2px;
  img {
    height: 18px;
    width: 18px;
    @media (max-width: $xxxs) {
      height: 12px!important;
      width: 12px!important;
    }
  }

}

.baseText {
  font-weight: 400;
}

.bolderText {
  //margin-left: 5px;
  font-weight: 500;
  white-space: nowrap;
}

.buying {
  font-size: 12px !important;
  margin-bottom: 0.75em;
  text-align: right;
  padding-right: 20px;
  @media (max-width: $xxs) {
    font-size: 10px !important;
    display: inline-block;
    width: 50%;
    text-align: left !important;
  }
}
.selling {
  font-size: 12px !important;
  text-align: right;
  padding-right: 20px;
  @media (max-width: $xxs) {
    font-size: 10px !important;
    align-content: right;
    display: inline-block;
    padding-left: 5px;
    padding-right: 0;
    width: 50%;
  }
}

.detailsAmountCol {
  flex-basis: 45%;
  @media (max-width: $xxs) {
    display: inline-block;
  }
}

.detailsTradingCol {
  flex-basis: 65%;
  align-items: baseline;
}

.detailsTradingFirstCol {
  flex-basis: 55%;
  flex-grow: 1;
}
.detailsTradingSecCol {
}

.tradingStatus {
  border-radius: 6px;
  display: inline-flex;
  height: 20px;
  width: 92px;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  position: relative;
  top: -1px;
  @media (max-width: $xxs) {
    font-size: 10px;
    top: -3px;
    height: 18px;
  }
}

.active {
  border: 1px solid $success;
  color: $success-text;
}

.disabled {
  border: 1px solid $danger;
  color: $danger-text;
}