@import '../styles/modules/breakpoints';
@import '../styles/modules/typography';

.StatusIndicator {
  &--Online:before {
    background-color: #1ABC9C;
  }

  &--Out-Of-Sync:before {
    background-color: #F5BD00;
  }

  &--Closed:before {
    background-color: #70737F;
  }
}

.StatusIndicator:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: sub;
  @media (max-width: $xs) {
    width: 9px;
    height: 9px;
  }
}

.OasisStatus {
  @include text(12px);
  padding-left: 20px;
  color: #4F5362;

  letter-spacing: 1.3px;
  text-transform: uppercase;
  @media (max-width: $xxs) {
    padding-left: 15px;
    letter-spacing: 1px;
  }
  & .NetworkStatus {
    display: flex;
    margin-top: 5px;
    align-items: center;
    @include text(13px, 500);
    color: rgba(79, 83, 98, 0.8);
  }

}

.offersLoadProgress {
  position: relative;
  top: 4px;
  font-size: 11px;
}


.tradesLoadProgress {
  position: relative;
  top: 4px;
  font-size: 11px;
}
