@import "../styles/modules/constants";

.base {}

.icon {
  margin-right: 1em;
}

.baseText {
  font-weight: 400;
}

.bolderText {
  //margin-left: 5px;
  font-weight: 500;
  white-space: nowrap;
}

.buying {
  margin-bottom: 0.75em;
}

.detailsAmountCol {
  flex-basis: 45%;
}

.detailsTradingCol {
  flex-basis: 65%;
  align-items: baseline;
}

.detailsTradingFirstCol {
  flex-basis: 55%;
  flex-grow: 1;
}
.detailsTradingSecCol {
}

.tradingStatus {
  border-radius: 6px;
  display: inline-flex;
  height: 20px;
  width: 92px;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  position: relative;
  top: -1px;
}

.active {
  border: 1px solid $success;
  color: $success-text;
}

.disabled {
  border: 1px solid $danger;
  color: $danger-text;
}