@import '../styles/modules/breakpoints';
@import '../styles/modules/constants';
@import '../styles/modules/grid';
@import '../styles/modules/typography';

.rowTabs {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  @media (max-width: $sm) {
    margin: 20px 0 4px;
  }
  &:before , &:after{
    content: '';
    width: calc((100% - #{$tabs-width}) / 2);
    border-top:0.5px solid $gray;
    border-bottom:0.5px solid $gray;
  }
  @media (min-width: $xxs) and (max-width: $lg) {
    margin-bottom: 20px;
  }
}

.tabs {
  display: flex;
  @media (max-width: $sm) {
    position: sticky !important;
    top: 10px;
    font-size: 14px;
  }

  width: $tabs-width;
  border: 1px solid $gray;
  border-radius: 100px;

  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  overflow: hidden;
}

.tab {
  flex-basis: 100%;
  height: 40px;
  border-right: 1px solid $gray;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;


  &:hover {
    background: $tabs-background--on-hover;
    cursor: pointer;

    a {
      color: $gray-blueish;
    }
  }

  &:last-child {
    border-right: 0;
  }

  a {
    color: $gray;
    text-decoration: none;
    @include text();
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $gray-blueish;
    }

    @media (max-width: $xxs) {
      font-size: 11px;
    }

    @media (max-width: $xxxs) {
      font-size: 9px;
    }

  }

  &.active {
    background-color: #E8E9ED;
    &, & > a {
      color: #4F5362;
    }
  }
}

.tabBig {
    flex-basis: 130%;
}

//
//.active {
//   background-color: #E8E9ED;
//   color: #4F5362;
// }