@import "../styles/modules/breakpoints";
@import "../styles/modules/constants";

.base {
  @media (max-width: $xxs) {
    flex-wrap: wrap;
  }
  hr {
    display: none;
  }
  @media (max-width: $xxxs) {
    span {
      font-size: 8px !important;
    }
  }
}

.red {
  color: $danger-text;
}

.green {
  color: $success-text;
}

.baseText {
  //font-weight: 300;
}

.bolderText {
  font-weight: 500;
}

.buying {
  margin-bottom: 0.75em;
}

.detailsAmountCol {
  flex-basis: 45%;
  @media (max-width: $xxs) {
    flex-basis: 100%;
  }
}

.detailsTradingCol {

  flex-basis: 65%;
  @media (max-width: $xxs) {
    flex-basis: 100%;
  }
}

.detailsTradingFirstCol {
  flex-basis: 55%;
  @media (max-width: $xxs) {
    flex-basis: 100%;
  }
}
.detailsTradingSecCol {
  flex-basis: 45%;
  @media (max-width: $xxs) {
    flex-basis: 100%;
  }
}

.tradingStatus {
  border: 1px solid $success;
  color: $success-text;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  width: 92px;
  text-align: center;
  @media (max-width: $xxxs) {
    height: 17px;
  }
}

.isTokenEnabledSection {}