@import "../styles/modules/typography";

table.table {

  td, th {
    text-align: right;
    margin-left: 8px;
    margin-right: 8px;
  }

  td {
    font-weight: 500;
  }

  th:first-child,
  td:first-child {
    flex-basis: 72px;
    text-align: right;
  }

  td:first-child {
    @include muted;
  }


  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 41px;
    text-align: right;
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 82px;
    text-align: right;
  }

  th:nth-child(4),
  td:nth-child(4) {
    flex-basis: 82px;
    text-align: right;
  }

  th:nth-child(5),
  td:nth-child(5) {
    flex-basis: 55px;
    text-align: right;
  }


}