@import "./../styles/modules/breakpoints";

.OasisLogoWrapper {
  display: flex;
  align-items: center;
  width: 103px;
  height: 40px;
}

.OasisLogo {
  cursor: pointer;
  width: 100%;
  height: 37px;
  background: url("./../assets/logo-oasis.png") no-repeat;
  background-size: 100%;
  &:hover {
    background-image: url("./../assets/logo-oasis-hover.png");
  }

  @media (max-width: $xxs) {
    background-size: 91%;
  }
  @media (max-width: $xxxs) {
    background-size: 80%;
  }
}
