@import "../styles/modules/typography";

.table {

  td, th {
    text-align: right;
  }

  td {
    font-weight: 500;
  }

  th:first-child,
  td:first-child {
    flex-basis: 100px;
    text-align: right;
  }

  td:first-child {
    @include muted;
  }


  th:nth-child(2),
  td:nth-child(2) {
    flex-basis: 70px;
    text-align: right;
  }

  th:nth-child(3),
  td:nth-child(3) {
    flex-basis: 100px;
    text-align: right;
  }

  th:nth-child(4),
  td:nth-child(4) {
    flex-basis: 77px;
    text-align: right;
  }

  th:nth-child(5),
  td:nth-child(5) {
    flex-basis: 77px;
    text-align: right;
  }


}