@import '../styles/modules/breakpoints';
@import "../styles/modules/typography";

.OasisAccount {
  @include text(13px);
  text-align: right;
  margin-bottom: 10px;

  @media (max-width: $xxs) {
    & > .label {
      position: absolute;
      top: 9px;
      left: 30px;
    }
  }

}

.AccountSelection {
  display: inline-block;
  width: 330px;
  @media (min-width: $xs) and (max-width: $lg) {
    width: 80%;
  }

  border: 1px solid #D3D5DC;
  border-radius: 100px;

  margin-left: 25px;
  padding: 0 16px 0 2px;

  font-size: 10px;
  @media (max-width: $xxs) {
    margin-left: 0;
    width: 100%;
  }

  & select {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    color: rgba(34,34,40, 0.68 );
    border: none;
    margin-right: -18px;
    padding: 13px 33px 13px 17px;
    @media (max-width: $xxs) {
      padding-left: 60px;
    }
    z-index: 0;
    position: relative;
    cursor: pointer;
    @include text(10px);
    @media (max-width: $xxs) {
      letter-spacing: 0.25px;
      padding-right: 10px;
      @include text(9px);
    }
    @media (min-width: $xs) and (max-width: $lg) {
      @include text(13px, 400);
      letter-spacing: 0.6px;
    }
    & option {
      @include text(10px, 400);
    }
  }

  & .glyphicon {
    color: #D3D5DC;
  }


}