@import "../styles/modules/verticalForm";
@import "../styles/modules/labels";

.table {
  @include verticalFormTable;
}

.amount {
  @include tdWithInput;
}

.currency {
  @include currency;
}

.inputGroup {
  display: flex;
}

.setMaxBtn {
  margin: 6px;
}


.errorMessage {
  @include muted();

  padding: 2px 13px;
}