@import "../styles/modules/constants";
@import "../styles/modules/typography";

.inputGroup {
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 38px;
}

.input {
  text-align: right;
  width: 100%;
}

.errorMessage {
  position: absolute;
  right: 0;
  top: 41px;

  @include muted();

  padding: 2px 13px;
  max-width: 100vw;
  width: max-content;
}